name: Release

on:
  push:
    branches:
      - main

env:
  PLUGIN_NAME: TRMNL-Plugin-Open-Meteo-Weather-Forecast

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: simple

  build:
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    permissions:
      contents: write
    env:
      TAG_NAME: ${{ needs.release.outputs.tag_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install zip
        run: sudo apt-get install -y --no-install-recommends zip

      - name: Set release filename
        run: echo "ZIP_FILE=${{ env.PLUGIN_NAME }}-${{ env.TAG_NAME }}.zip" >> $GITHUB_ENV

      - name: Inject version string into plugin name
        run: |
          PLUGIN_NAME="Open-Meteo Hourly Weather Forecast"
          sed -i "s/${PLUGIN_NAME}/${PLUGIN_NAME} ${{ env.TAG_NAME }}/g" src/settings.yml

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install trmnlp
        run: gem install trmnl_preview

      - name: Print trmnlp version
        run: trmnlp version

      - name: Copy trmnlp config
        run: cp .trmnlp.yml.sample .trmnlp.yml

      - name: Push plugin to TRMNL
        run: trmnlp push --force
        env:
          TRMNL_API_KEY: ${{ secrets.TRMNL_API_KEY }}

      - name: Preparing plugin files for GitHub Release
        run: cd src && zip -r ../${{ env.ZIP_FILE }} .

      - name: Add Plugin file to GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ env.TAG_NAME }} \
            ${{ env.ZIP_FILE }}
